<template>
    <div class="search">
        <input class="form-control search-bar" placeholder="Search your book..." name="search" type="search" v-model.lazy="keywords">
        <ul class="list-group" v-if="results.length > 0">
            <li class="list-group-item" v-for="result in results" :key="result.id" v-text="result.title"></li>
        </ul>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                keywords: null,
                results: []
            };
        },
        watch: {
            keywords(after, before) {
                this.fetch();
            }
        },
        methods: {
            fetch() {
                axios.get('/book/search', {params: {keywords: this.keywords}})
                    .then(response => this.results = response.data)
                    .catch(error => {
                    });
            }
        }
    }
</script>
